<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio using materilize</title>

    <!--css custom-->
    <link rel="stylesheet" href="style.css">

    <!--materialize CDN-->
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
    <!--NavBar-->
<nav class="" style="background: deeppink;">
    <div class="nav-wrapper">
      <a href="" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="">sass</a></li>
        <li><a href="">sass <span class="new badge">4</span></a></li>
        <li><a href="">sass</a></li>
      </ul>
    </div>
</nav>

<!--Containers-->
<div class="container">
    <!-- Page Content goes here -->
    <br><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, accusamus ipsa corrupti repudiandae earum amet iste ut, maiores asperiores tenetur labore repellat eius aliquam sapiente impedit quia tempora quos dolorum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil magni tempore beatae quas fuga expedita obcaecati totam, repudiandae odio pariatur, quasi ipsam minima laudantium, repellendus aspernatur eveniet laborum dignissimos nesciunt?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque debitis, blanditiis nisi voluptatum consequuntur dolorum delectus porro facere dicta fugiat est quam dolor odit architecto. Odio molestiae blanditiis sunt placeat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere fugiat a obcaecati iste! Eligendi, maiores. Neque voluptates amet pariatur quam, incidunt cumque maiores consequuntur laboriosam quasi rem doloribus qui sed.
    </p>
    <br><br>
</div>


      <!--   Icon Section   -->
<div>
    <div>
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
</div>


<!--Containers-->
<div class="container">
    <!-- Page Content goes here -->
    <br><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, accusamus ipsa corrupti repudiandae earum amet iste ut, maiores asperiores tenetur labore repellat eius aliquam sapiente impedit quia tempora quos dolorum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil magni tempore beatae quas fuga expedita obcaecati totam, repudiandae odio pariatur, quasi ipsam minima laudantium, repellendus aspernatur eveniet laborum dignissimos nesciunt?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque debitis, blanditiis nisi voluptatum consequuntur dolorum delectus porro facere dicta fugiat est quam dolor odit architecto. Odio molestiae blanditiis sunt placeat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere fugiat a obcaecati iste! Eligendi, maiores. Neque voluptates amet pariatur quam, incidunt cumque maiores consequuntur laboriosam quasi rem doloribus qui sed.
    </p>
    <br><br>
</div>


    



            

<!--footer set-up-->
  
<footer class="page-footer" style="background: #311b92;">
    <div class="container" style="color: cyan;">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Follow us</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">YouTube</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Quora</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
</footer>
      
    

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../../dist/js/materialize.js"></script>
    <script src="js/init.js"></script>
</body>
</html>