<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W3 BLOG</title>

    <!--W3 LIBRARY-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!--CSS Custom-->
    <link rel="stylesheet" href="style.css">

    <!--fonts custom-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&effect=brick-sign">
    <style>
    .w3-lobster {
    font-family: "Lobster", Sans-serif;
    }
    </style>
</head>
<body>
    <div class="w3-container w3-deep-purple w3-xxlarge w3-padding-16">
        <h2>This is the header</h2>
    </div>

    <div class="w3-panel w3-rightbar w3-sand w3-xxlarge w3-serif">
        <p><i>"Make it as simple as possible, but not simpler."</i></p>
    </div>


    <!--text starts-->
    <div>
        <h1 class="w3-center">kdncwdenkel</h1>
    </div>

    <div class="w3-padding-large">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur optio nemo, iste, error quisquam cumque quaerat laboriosam, sapiente soluta voluptatem eveniet! Accusantium earum ad nostrum possimus quaerat officia, a in!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, fuga. Distinctio, hic voluptatibus. Optio blanditiis ut molestiae eius veniam rem temporibus sequi quis rerum quidem deleniti, quas nobis aspernatur voluptatum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, eos? Fugit necessitatibus voluptates ipsam corporis laudantium velit quis nobis tempora earum, maiores eius obcaecati quibusdam. Placeat nostrum nesciunt sequi odit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus temporibus aut explicabo doloremque aperiam officiis quam, culpa dolor optio aspernatur eos ipsam corporis ea provident? Beatae rerum quia placeat ipsa.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, reiciendis atque voluptates nihil eum harum hic eaque iusto expedita modi sit cupiditate neque accusamus ratione fuga dicta praesentium, ipsa quisquam!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptatum assumenda pariatur nostrum nobis, quam quidem? Eaque sequi maiores quibusdam fuga ut facilis inventore ipsam. Ipsum placeat repudiandae eaque in.
            <br><br>
        </p>
    </div>
    
    <div class="w3-panel w3-rightbar w3-blue-gray w3-xxlarge w3-serif">
        <p><i>"Ubung macht den meinster..."</i></p>
    </div>

    <div class="w3-padding-large">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi optio nostrum voluptates sit nesciunt quasi dolorum voluptatibus dolorem consequuntur laudantium tempore alias odio quibusdam a, quia, pariatur natus quaerat deserunt.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. AccusaPntium eveniet, cupiditate dolorum voluptate libero esse quae ipsa excepturi! Magnam facilis architecto alias eaque optio nisi. Ab iure repellat ipsa dolorum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur voluptatibus facere, veritatis vitae quod ipsa officiis repellat, fugiat laborum eius natus beatae nisi dolorum fugit magnam itaque possimus pariatur reiciendis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum aliquam quae consequuntur officia praesentium, atque dolorum iure, id vero recusandae iste modi debitis tempora eaque necessitatibus at consectetur pariatur temporibus?
        <br><br>
        </p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt accusantium inventore perferendis quod atque impedit, pariatur nobis, dolores consequatur rem odit unde eos ipsa enim. Sequi corrupti assumenda accusantium quibusdam?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur itaque nesciunt, at numquam distinctio impedit, soluta temporibus iure deleniti ex quidem perferendis exercitationem ipsam quibusdam in iste omnis voluptatem eveniet!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe, nihil ullam mollitia recusandae velit cupiditate quas laborum et pariatur quis aspernatur vitae harum illum placeat dolores magnam eaque ab! Tempore.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, aliquam ratione voluptas consequuntur numquam perspiciatis. Exercitationem ratione deleniti quos itaque, minus porro eum esse laborum tempore dignissimos quidem optio quisquam?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente qui consectetur ratione distinctio tempora delectus saepe fugit ipsa recusandae! Laudantium maiores earum repudiandae dignissimos explicabo. Consequuntur ullam voluptates repellat corporis?
        </p>


    </div>

<div class="w3-container w3-lobster font-effect-brick-sign w3-padding-16 footer">
  <p class="w3-xlarge w3-center" style="color: aliceblue;">Right reserved 2020</p>  
</div>
    
</body>
</html>